services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    environment:
      - PUID=1012
      - PGID=1012
      - TZ=America/Chicago
      - WEBPASSWORD=YOUR_PIHOLE_PASSWORD
      - VIRTUAL_HOST=pihole.jstarr.me
    volumes:
      - ./config:/etc/pihole
    cap_add:
      - SYS_NICE
    restart: unless-stopped
    networks:
      - mediaserver

networks:
  mediaserver:
    external: true
