[Unit]
Description=mergerfs service
After=mnt-00.mount mnt-01.mount mnt-02.mount mnt-03.mount \
      mnt-04.mount mnt-05.mount mnt-06.mount
Requires=mnt-00.mount mnt-01.mount mnt-02.mount mnt-03.mount \
         mnt-04.mount mnt-05.mount mnt-06.mount

[Service]
Type=simple
KillMode=none
ExecStart=/usr/bin/mergerfs \
  -f \
  -o cache.files=partial \
  -o dropcacheonclose=true \
  -o category.create=mfs \
  /mnt/00:/mnt/01:/mnt/02:/mnt/03:/mnt/04:/mnt/05:/mnt/06 \
  /mnt/merged
ExecStop=/bin/fusermount -uz /data
Restart=on-failure

[Install]
WantedBy=default.target
